{% load bootstrap3 %}
{% include "nav_bar.html" %}


<div class="well col-md-6 col-md-offset-3 nav-frame-c">
    <h3 class="text-center" style="margin-top: 5px">大感谢</h3>
    <p class="text-center">本站受益于以下开源项目：</p>
    <p class="text-center">This site is made possible with the help of various open-source projects, as follows:</p>
    <ul class="list-group">
        <li class="list-group-item">
            <p class="col-md-offset-2">1. I worship the Church of <a href="https://www.python.org/">Python</a></p>
            <p class="col-md-offset-2">2. The awesome <a href="https://www.djangoproject.com/">Django</a> framework</p>
            <p class="col-md-offset-2">3. <a href="http://nginx.org/">Nginx</a> and <a href="http://gunicorn.org/">Gunicorn</a></p>
            <p class="col-md-offset-2">4. <a href="http://redis.io/">Redis</a></p>
            <p class="col-md-offset-2">5. <a href="http://www.celeryproject.org/">Celery</a> </p>
            <p class="col-md-offset-2">6. and of course, the Refuge: <a href="http://getbootstrap.com/">Twitter Bootstrap</a></p>
            <p class="col-md-offset-2">......</p>
        </li>
    </ul>
</div>