<div class="col-md-10 col-md-offset-1 col-sm-10 col-offset-1 col-xs-10 col-xs-offset-1">
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                <h3 class="panel-title">说说</h3>

            </div>
            <div class="panel-body">
                <ul class="list-group" id="comment-group-{{ game.pk }}">
                    {% with counter=forloop.counter0 %}
                    {% for cs in comments %}
                    {% if forloop.counter0 == counter %}
                    {% for c in cs %}
                    <li class="list-group-item" id="comment-detail-{{ c.pk }}">
                        <div class="row">
                            <div class="col-xs-2 col-md-1 col-sm-2">
                            <img class="media-object" src="/static/images/{{ c.from_whom.photo.url }}" height="30" width="30">
                            </div>
                            <div class="col-xs-10 col-md-11 col-sm-9">
                                    <div class="comment-text">
                                        {{ c.content }}
                                    </div>

                                    <div class="mic-info pull-right">
                                       <div class="text-muted"><a href="#">{{ c.from_whom.user.username }}</a>, {{ c.post_time | date:"m/d, h时i分" }}
                                       <button type="submit" class="btn btn-default btn-xs" name="up_{{ c.pk }}" style="border: none;">
                                          <span class="glyphicon glyphicon-thumbs-up"></span>
                                       </button>
                                       <label id="label_up_{{ c.pk }}">{{ c.liked }}</label>
                                       <button type="submit" class="btn btn-default  btn-xs " name="down_{{ c.pk }}" style="border: none;">
                                          <span class="glyphicon glyphicon-thumbs-down"></span>
                                       </button>
                                       <label id="label_down_{{ c.pk }}">{{ c.disliked }}</label>
                                       {% if c.from_whom == person %}
                                       <button type="submit" class="btn btn-default  btn-xs" name="remove_{{ c.pk }}" style="border: none;">
                                          <span class="glyphicon glyphicon-remove"></span>
                                       </button>
                                       {% endif %}
                                       </div>
                                    </div>
                                </div>

                        </div>
                    </li>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                    {% endwith %}

                    <li class="list-group-item">
                        <div class="row">
                            <div class="input-group col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                                <input type="text" class="form-control col-md-12" name="comment_content_{{ game.pk }}" style="margin-bottom: 10px;"/>
                                <input type="submit" name="submit_comment_{{ game.pk }}" class="pull-right btn btn-success" value="发布评论"/>
                            </div>
                        </div>
                    </li>
               </ul>
            </div>
        </div>
    </div>
</div>



<style type='text/css'>
    .widget .panel-body { padding:0px; }
    .widget .list-group { margin-bottom: 0; }
    .widget .panel-title { display:inline }
    .widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
    .widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
    .widget .mic-info { color: #666666;font-size: 11px; }
    .widget .comment-text { font-size: 12px; }
    .widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }
    .btn-success {background: rgba(116, 0, 15, 1);color: #ffffff;border-bottom-color:rgba(116, 0, 15, 1); border-left-color: rgba(116, 0, 15, 1);border-right-color: rgba(116, 0, 15, 1);border-top-color: rgba(116, 0, 15, 1);}

</style>
