<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>盖世 -- 与世界分享你的意见</title>

</head>

<body style="background-color: rgba(255,255,255,1); color: #222121; font-family: 'Times New Roman', Times, serif; font-size: 13px; line-height: 16px; text-align: left;">
	<table cellspacing="0" border="0" align="center" cellpadding="1" width="100%">
		<tr>
			<td valign="top">
				<a name="top" style="text-decoration: none; color: #cc0000;"></a>
				<table class="main-body" cellspacing="0" border="0" align="center" style="background-color: rgba(255,255,255,1);  color: #222121; font-family: 'Times New Roman', Times, serif; font-size: 13px; line-height: 16px;" cellpadding="0" width="616">
					<tr>
						<td class="unsubscribe" align="center" style="padding:20px 0"> <!-- unsubscribe -->
							<p style="padding:0; margin: 0; font-family: 'Times New Roman', Times, serif; font-size: 12px;">您收到这封邮件，是因为您订阅了盖世的每日更新。<br />
								邮件显示有问题? <webversion style="color: #222121; text-decoration: underline;">从浏览器浏览</webversion>. 不想再订阅了? <unsubscribe style="color: #222121; text-decoration: underline;">退订</unsubscribe>.</p>
							</td>
						</tr>
						<tr>
							<td class="main-td" style="padding: 0 25px;">	<!-- introduction and menu box-->
								<table class="intro" cellspacing="15" border="0" style="background-color: rgba(252,248,227,1); border-bottom: 1px solid #c3b697;" cellpadding="0" width="100%">
									<tr>
										<td valign="top" style="padding: 10px 12px 0px;" colspan="2">
											<table class="banner" cellspacing="0" border="0" style="background:#FF9F80; color: #fcfbfa; font-family: 'Times New Roman', Times, serif;" cellpadding="0" width="100%">

												<tr>
													<td class="title" valign="top" style="padding: 0 12px 0;">

														<h1 style="padding: 0; color:#595149; font-family: 'Times New Roman', Times, serif; font-size: 50px; line-height: 60px; margin-top: 10px; margin-bottom: 0">Guesso 盖世</h1>
														<p style="padding: 0; color:#595149; font-family: 'Times New Roman', Times, serif; font-size: 16px; text-transform: uppercase; margin: 2;"> 每日摘要</p>
													</td>

												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="content" align="left" valign="top" style="font-size: 15px;  line-height: 18px; padding:0 35px 12px 12px; width: 329px;">
											<table width="100%" border="0" cellspacing="0" cellpadding="0" style=" color: #222121; font-family: 'Times New Roman', Times, serif; font-size: 13px; line-height: 16px;">
												<tr>
													<td style="padding:25px 0 0;">
														<p style="padding:0; font-family: 'Times New Roman', Times, serif;"><strong>{{ person.user.username }}，你好！</strong></p>
														<p style="padding:0; font-family: 'Times New Roman', Times, serif;">我们为你精选了今日热门事件，更多的事件更多的玩法，请访问我们的网站哦！</p>
														<p style="padding:0; font-family: 'Times New Roman', Times, serif;">Guesso团队</p>
													</td>
												</tr>
											</table>
										</td>
										<td class="menu" align="left" valign="top" style="width: 178px; padding: 0 12px 0 0;">
											<table width="100%" border="0" cellspacing="0" cellpadding="0" style=" font-family: 'Times New Roman', Times, serif; font-size: 13px; line-height: 16px;">

												<tr>
													<td valign="top" align="left">
														<ul style="margin: 0; padding: 0;">
															<li style="font-size: 12px; font-family: 'Times New Roman', Times, serif; text-transform: uppercase; border-bottom: 1px solid #c0bcb1; color: #222121; list-style-type: none; padding: 5px 0; display:block">今日看点</li>
															<li style=" font-family: 'Times New Roman', Times, serif; list-style-type: none; padding: 5px 0; border-bottom: 1px solid #c0bcb1; display:block"><a href="#article1" style="text-decoration: none; color: #cc0000;">股指大猜想</a></li>
															<li style=" font-family: 'Times New Roman', Times, serif; list-style-type: none; padding: 5px 0; border-bottom: 1px solid #c0bcb1; display:block"><a href="#article2" style="text-decoration: none; color: #cc0000;">周末英超</a></li>
															<li style=" font-family: 'Times New Roman', Times, serif; list-style-type: none; padding: 5px 0; border-bottom: 1px solid #c0bcb1; display:block"><a href="#article3" style="text-decoration: none; color: #cc0000;">房价涨不涨</a></li>
															<li style=" font-family: 'Times New Roman', Times, serif; list-style-type: none; padding: 5px 0; border-bottom: 1px solid #c0bcb1; display:block"><a href="#article4" style="text-decoration: none; color: #cc0000;">更多</a></li>
														</ul>
													</td>
												</tr>
											</table>
										</td>
									</tr>

								</table>
							</td>
						</tr>

						<tr>
							<td class="main-td" valign="top" style="padding: 0 25px;">	<!-- main content -->
								<table class="main-content" cellspacing="0" border="0" style="background-color: rgba(252,248,227,1); background-image: url(images/bg-content.jpg); border-bottom: 1px solid #c3b697;  color: #222121; font-family: 'Times New Roman', Times, serif; font-size: 13px; line-height: 16px;" cellpadding="0" width="100%">
									{% for game in games %}
                                    <tr>
										<td class="content" align="left" valign="top" style="padding: 20px 15px 0 12px;">
                                            {% if game.game_type == "财经" %}
											<p class="title" style="padding: 8px 0; font-family: 'Times New Roman', Times, serif; font-size: 18px; color: #ab1212; margin: 0;">{{ game.headline }}</p><a name="article1" style="text-decoration: none; color: #cc0000;"></a>
                                            {% elif game.game_type == "体育" %}
                                            <p class="title" style="padding: 8px 0; font-family: 'Times New Roman', Times, serif; font-size: 18px; color: #ab1212; margin: 0;">{{ game.name_home }} 对阵 {{ game.name_away }}</p><a name="article1" style="text-decoration: none; color: #cc0000;"></a>
                                            {% endif %}

											<p style="padding: 0; font-family: 'Times New Roman', Times, serif;">目前,押注“{{ game.name_home }}”的实时价格是{{ game.price_home }}, 押注“{{ game.name_away }}”的价格是{{ game.price_away }}!</p>


                                            <div class="progress">
                                                <div class="progress-bar" align="center" style="background: rgba(233, 137,119 , 1);border-radius:10px; font-size:16px; margin-bottom: 2px; width: {{ game.price_home }}%">{{ game.price_home }}</div>
                                                <div class="progress-bar" align="center" style="background: rgba(255,196,140,1);border-radius: 10px; font-size: 16px; width: {{ game.price_away }}%">{{ game.price_away }}</div>
                                            </div>
										</td>

									</tr>

                                    {% endfor %}

                                    <tr>
                                        <td><button style="color: #ffffff; background: rgba(255,196,140,1);border-radius: 10px;font-size:18px; margin-left: 40%;margin-top: 10px">更多竞猜</button></td>
                                    </tr>

									<tr>
										<td class="footer" align="left" valign="top" style="background: rgba(252,248,227,1); padding: 10px 0 10px 14px;" colspan="2"><a href="#top" style="text-decoration: none; font-family: 'Times New Roman', Times, serif; color: #cc0000;"><strong>回到顶部</strong></a></td>
									</tr>
								</table>
							</td>
						</tr>

						<tr>
							<td class="main-td" valign="top" style="padding: 0 25px;">	<!-- contact box -->
								<table class="contact" cellspacing="0" border="0" style="background-color: rgba(252,248,227,1);  border-bottom: 1px solid #c3b697;  color: #222121; font-family: 'Times New Roman', Times, serif;" cellpadding="0" width="100%">

									<tr>
										<td class="title" align="left" valign="top" style=" font-family: 'Times New Roman', Times, serif; background: rgba(252,248,227,1); padding: 10px 12px; text-transform: uppercase;" width="33%"><strong>转发</strong></td>
										<td class="title" align="left" valign="top" style=" font-family: 'Times New Roman', Times, serif; background: rgba(252,248,227,1); padding: 10px 12px; text-transform: uppercase;" width="33%"><strong>退订</strong></td>
										<td class="title" align="left" valign="top" style=" font-family: 'Times New Roman', Times, serif; background: rgba(252,248,227,1); padding: 10px 12px; text-transform: uppercase;" width="33%"><strong>联系我们</strong></td>
									</tr>
									<tr>
									    <td class="content" align="left" style=" font-family: 'Times New Roman', Times, serif; font-size: 12px; padding: 10px 12px;">
											<p style="margin: 0; padding: 0;">您收到这封邮件，是因为您订阅了盖世的每日更新。</p>

										</td>
										<td class="content" rowspan="2" align="left" valign="top" style=" font-family: 'Times New Roman', Times, serif; font-size: 12px; padding: 10px 12px;">
											<p style=" font-family: 'Times New Roman', Times, serif; margin: 0; padding: 0;">
												<a href="#" style="text-decoration: none; color: #cc0000;">www.goguesso.com</a><br />
												<a href="mailto:info@abcwidgets.com" style="text-decoration: none; color: #cc0000;">info@goguesso.com</a></p>
											</td>
										</tr>
										<tr>
											<td class="content" valign="top" style="font-size: 12px; padding: 10px 12px;">
												<table cellspacing="0" border="0" cellpadding="0" width="100%">
													<tr>
														<td width="43%"><p style=" font-family: 'Times New Roman', Times, serif; margin: 0; padding: 0;"><forwardtoafriend style="text-transform: uppercase; color: #cc0000; text-decoration: none;"><strong>转给朋友</strong></forwardtoafriend></p></td>

													</tr>
												</table>                    	
											</td>
											<td class="content" valign="top" style="font-size: 12px; padding: 10px 12px;">                    
												<table cellspacing="0" border="0" cellpadding="0" width="100%">
													<tr>
														<td width="58%"><p style=" font-family: 'Times New Roman', Times, serif; margin: 0; padding: 0;"><unsubscribe style="text-transform: uppercase; color: #cc0000; text-decoration: none;"><strong>退订</strong></unsubscribe></p></td>

													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>

						</table>
					</td>
				</tr>
			</table>
</body>

