{% load bootstrap3 %}

<link href='static/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
<title>盖世 - 向世界展示你的判断力</title>

{% include "nav_bar.html" %}

<div class = "row">
    <div class="col-md-6 col-md-offset-3">
        <div class="progress">
            <div class="progress-bar progress-bar-success" style="width: 35%">35%</div>
            <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 65%">65%</div>
        </div>
    </div>
</div>


<div class="row">
    <form method="POST">
        {% csrf_token %}

        <div class="controls">
            <div class="col-md-1 col-md-offset-3"><input class="btn btn-success" type="submit" value="曼联" name="home"/></div>
            <div class="col-md-1 col-md-offset-4"><input class="btn btn-warning" type="submit" value="切尔西" name="away"/></div>
        </div>


    </form>

</div>


