{% load bootstrap3 %}

<link href='static/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
<title>盖世 - 向世界展示你的判断力</title>

{% include "nav_bar.html" %}


<style type='text/css'>
.spacer {
    margin-bottom: 40px;
}
</style>

{% for game in games %}

<div class = "row">
    <div class="col-md-6 col-md-offset-3">
        <div class="progress">
            <div class="progress-bar progress-bar-success" style="width: {{ game.price_home }}%">{{ game.price_home }}</div>
            <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: {{ game.price_away }}%">{{ game.price_away }}</div>
        </div>
    </div>
</div>


<div class="row spacer">
    <form method="POST">
        {% csrf_token %}

        <div class="controls">
            <div class="col-md-1 col-md-offset-3"><input class="btn btn-success" type="submit" value={{ game.name_home }} name="h:{{ game.pk }}"/></div>
            <div class="col-md-1 col-md-offset-4"><input class="btn btn-warning" type="submit" value={{ game.name_away }} name="a:{{ game.pk }}"/></div>
        </div>
         <p class="col-md-3 col-lg-offset-4"><i class="glyphicon glyphicon-play"></i> 开球时间：{{ game.begin }}</p>
         <p class="col-md-3 col-lg-offset-4"><i class="glyphicon glyphicon-stop"></i> 结束投注时间：{{ game.expire }}</p>


    </form>

</div>

{% endfor %}





