{% load bootstrap3 %}
{% load profile_tag %}

{% include "nav_bar.html" %}

<style type='text/css'>
    .spacer {
        margin-bottom: 10px;
    }
    .progress-bar-c1 {background: rgba(233, 137,119 , 1);}
    .progress-bar-c2 {background: rgba(255,196,140,1);}
    .well-frame-c1 {background: rgba(252,248,227,0.5);}

</style>

<body>
    <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-success alert-dismissible" role="alert" id="alert" data-dismiss="alert">
            <button type="button" href="{% url 'home' %}" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>投注成功！</strong> 你可以到<a href="{% url 'profile' %}">我的猜测</a>里查看你的当前投注。
        </div>
    </div>

     <form method="POST" id="submit_form">
        {% csrf_token %}

    {% for game in gamess %}

    <div class="well well-frame-c1 col-md-6 col-md-offset-3">

    <div class = "row">
        <div class="col-md-10 col-md-offset-1">
            <h4 class="text-center">{{ game.headline }}</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-c1" style="width: {{ game.price_home }}%">{{ game.price_home }}</div>
                <div class="progress-bar progress-bar-c2" style="width: {{ game.price_away }}%">{{ game.price_away }}</div>
            </div>
        </div>
    </div>

    <div class="row">


             <div class="col-md-1 col-md-offset-3 col-sm-1 col-sm-offset-3 col-xs-1 col-xs-offset-3 spacer"><input class="btn progress-bar-c1" type="submit" value='赞同' name="h:{{ game.pk }}" onclick="on_submit(event)"/></div>
             <div class="col-md-1 col-md-offset-3 col-sm-1 col-sm-offset-3 col-xs-1 col-xs-offset-3 spacer"><input class="btn progress-bar-c2" type="submit" value='反对' name="a:{{ game.pk }}" onclick="on_submit(event)"/></div>
             <p class="col-md-8 col-md-offset-3 col-sm-8 col-sm-offset-3 col-xs-8 col-xs-offset-3"><i class="glyphicon glyphicon-stop"></i> {{ game.expire | date:"y年m月d日 h时i分s秒" }}截止</p>

             <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 dropdown-user"  data-for=".{{ game.pk }}">
                    <i class="glyphicon glyphicon-chevron-down text-muted"></i>
             </div>
            <div class="col-md-1 col-md-offset-10 col-sm-1 col-sm-offset-10 col-xs-1 col-xs-offset-9 spacer">
                <wb:share-button appkey="6KfBb7" addition="simple" type="button" default_text="事件 &ldquo; {{ game.headline }}&ldquo;的当前猜神价位是 {{ game.price_home }}，快来买一注吧！"></wb:share-button>
             </div>

            <div class="row user-infos {{ game.pk }}">
                {% include 'comment.html' %}
            </div>

    </div>


    </div>



    {% endfor %}
     </form>


    {% include "footer.html" %}

</body>
<script>
    $(document).ready(function() {

        var panels = $('.user-infos');
        var panelsButton = $('.dropdown-user');
        panels.hide();

        $(".close").click(function(){
            $(".alert").hide();
        });

        if (document.URL.indexOf('#success') == -1)
            $('.alert').hide()

        panelsButton.click(function() {
            //get data-for attribute
            var dataFor = $(this).attr('data-for');
            var idFor = $(dataFor);

            //current button
            var currentButton = $(this);
            idFor.slideToggle(1, function() {
                if(idFor.is(':visible'))
                {
                    currentButton.html('<i class="glyphicon glyphicon-chevron-up text-muted"></i>');
                }
                else
                {
                    currentButton.html('<i class="glyphicon glyphicon-chevron-down text-muted"></i>');
                }
            })
        });

        var form_data = {};


        $(":input[type='submit']").on('click',function(event){
            form_data = $('#submit_form').serializeArray();
            form_data.push({name:$(this).attr('name'),value:$(this).attr('value')});
            console.log('Form submitted!');
            event.preventDefault();

            $.ajax({
                type: 'POST',
                url: window.location.href,
                data: form_data,

                success: function(data){
                    if(data['type'] == 'in_comment_items'){
                        delete data['type'];
                        for(var key in data){
                           $('#'+key).text(data[key]);
                        }
                    }
                    else if(data['type'] == 'submit_comment'){
                        delete data['type'];
                        var photo = data['photo'];
                        var content = data['content'];
                        var username = data['username'];
                        var pk = data['pk'];
                        var block = '<li class="list-group-item" id="comment-detail-'+pk+'"> \
                                        <div class="row"> \
                                            <div class="col-xs-2 col-md-1"> \
                                            <img class="media-object" src="/static/images/' + photo +
                                             '" height="30" width="30"> \
                                            </div> \
                                            <div class="col-xs-10 col-md-11"> \
                                                <div> \
                                                    <div class="comment-text">' + content +
                                                    '</div> \
                                                    <div class="pull-left mic-info"> \
                                                    </div> \
                                                    <div class="mic-info pull-right"> \
                                                       <div class="text-muted"><a href="#">' + username + '</a>, 刚刚发表 \
                                                       <button type="submit" class="btn btn-default btn-xs" name="up_'+pk+'" style="border: none;"> \
                                                          <span class="glyphicon glyphicon-thumbs-up"></span> \
                                                       </button> \
                                                       <label id="label_up_'+pk+'">0</label> \
                                                       <button type="submit" class="btn btn-default  btn-xs " name="down_'+pk+'" style="border: none;"> \
                                                          <span class="glyphicon glyphicon-thumbs-down"></span> \
                                                       </button> \
                                                       <label id="label_down_'+pk+'">0</label> \
                                                       <button type="submit" class="btn btn-default  btn-xs" name="remove_'+pk+'" style="border: none;"> \
                                                          <span class="glyphicon glyphicon-remove"></span> \
                                                       </button> \
                                                       </div> \
                                                    </div> \
                                                </div> \
                                            </div> \
                                        </div> \
                                    </li>'
                        $('#comment-group-'+data['game']).prepend(block);
                        $('input[type="text"]').val('');
                    }
                    else if(data['type']=='delete_comment'){
                        $('#comment-detail-'+data['pk']).remove();
                    }
                    console.log(data);
                },

                error : function(xhr,errmsg,err){
                    console.log(err)
                }
            });
        });


        $('[data-toggle="tooltip"]').tooltip();

    });

    function on_submit(e) {

        var user = {{ person | yesno:"true,false" }};


        if (user == false){
            e.preventDefault();
            alert('注册个账号吧！');
        }
        else if (confirm("确定投注？") == false)
            e.preventDefault();
        else{
            $('.alert').toggle();
        }
    }

</script>





