{% load bootstrap3 %}
{% include "nav_bar.html" %}

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
<style type='text/css'>
.well-frame-c {background: rgba(252,248,227,1);}
</style>

{% for person in persons %}

<div class="container">
  <div class="well well-frame-c">
      <div class="media">
      	<a class="pull-left" href="#">
            		<img class="media-object" src="/static/images/{{ person.photo.url }}" height="100" width="100">

  		</a>
  		<div class="media-body">
            <h4 class="media-heading">{{ person.user }}</h4>
             <p>{{ person.title }}</p>
          <ul class="list-inline list-unstyled">
            <li><span><i class="glyphicon glyphicon-screenshot"></i> 全球排名：{{ person.rank }} </span></li>
            <li>|</li>
            <li><span><i class="glyphicon glyphicon-road"></i> 积分： {{ person.point }}</span></li>
            <li>|</li>
            <li><span><i class="glyphicon glyphicon-ok"></i> {{ person.win }}</span></li>
            <li>|</li>
            <li><span><i class="glyphicon glyphicon-remove"></i> {{ person.lose }}</span></li>
            <li>|</li>
            <li><span><i class="glyphicon glyphicon-calendar"></i> {{ person.joined | date:"y年m月d日" }} 加入<a href="{% url 'home' %}" style="color: #000000;">盖世</a> </span></li>
            <li>|</li>
			</ul>
       </div>
    </div>
  </div>
</div>

{% endfor %}