{% load bootstrap3 %}
{% include "nav_bar.html" %}

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>

{% for person in persons %}

<style type='text/css'>
.well-frame-c {background: rgba(218,216,167,0.5);}
</style>


<div class="container">
  <div class="well well-frame-c">
      <div class="media">
      	<a class="pull-left" href="#">
    		<img class="media-object" src="/static/images/me.jpg" height="100" width="100">
  		</a>
  		<div class="media-body">
            <h4 class="media-heading">{{ person.user }}</h4>
             <p>令人难以置信的竞猜大咖</p>
          <ul class="list-inline list-unstyled">
            <li><span><i class="glyphicon glyphicon-screenshot"></i> 全球排名：17/2594 </span></li>
            <li>|</li>
            <li><span><i class="glyphicon glyphicon-road"></i> {{ person.point }}</span></li>
            <li>|</li>
            <li><span><i class="glyphicon glyphicon-ok"></i> {{ person.win }}</span></li>
            <li>|</li>
            <li><span><i class="glyphicon glyphicon-remove"></i> {{ person.lose }}</span></li>
            <li>|</li>
            <li><span><i class="glyphicon glyphicon-calendar"></i> 2014年11月6日加入 </span></li>
            <li>|</li>
            <li>
               <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
            </li>
			</ul>
       </div>
    </div>
  </div>
</div>

{% endfor %}