<head>

    <link href='static/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
    <title>盖世 - 与世界分享你的意见 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
    $("#account_dropdown").click(function(){
        $("#account_info").toggle(100);
        });
    $("#notifications").click(function(){
        $("#notify_info").toggle(100);
    });
    });
    </script>
</head>

<style type='text/css'>
    .nav-frame-c {background: rgba(252,248,227,1);}
    .unread {color: rgba(254,67,101,1);}
    .marked_all_as_read {background: rgba(252,248,227,1);}
</style>


<nav class="navbar navbar-default nav-frame-c" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">盖世</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'home' %}">首页</a></li>
        <li><a href="{% url 'sports' %}">体育</a></li>
        <li><a href="{% url 'finance' %}">财经</a></li>
        <li><a href="{% url 'leaderboard' %}">排行榜</a></li>
        <li><a href="{% url 'proposal' %}">怎么玩</a></li>
        <li><a href="{% url 'proposal' %}">我要出题</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="有什么想要找的吗">
        </div>
        <button type="submit" class="btn nav-frame-c">搜索</button>
      </form>
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
            {% if unread == 0 %}
            <a id="notifications" href="#" class="dropdown-toggle" data-toggle="dropdown">消息<span> ({{ unread }})</span> <span class="caret"></span></a>
            {% else %}
            <a id="notifications" href="#" class="dropdown-toggle" data-toggle="dropdown">消息<span class="unread"> ({{ unread }})</span> <span class="caret"></span></a>
            {% endif %}
            <ul id="notify_info" class="dropdown-menu col-md-6" role="menu">
                {% if unread == 0 %}
                <li><p class="text-center">没有新消息</p></li>
                {% else %}
                    <form method="POST">
                    {% csrf_token %}
                    <li><button class="btn marked_all_as_read" style="margin-left: 20px" type="submit" name="marked_all_as_read" />全部标为已读</li>
                    </form>
                    {% for m in messages %}
                        <li class="divider"></li>
                        <li style="margin-left: 10px; margin-right: 10px"><a href="#">{{ m.verbal }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
        </li>


        <li class="dropdown">
          <a id="account_dropdown" href="#" class="dropdown-toggle" data-toggle="dropdown">账号 <span class="caret"></span></a>
          <ul id="account_info" class="dropdown-menu" role="menu">
            <li><a href="{% url 'profile' %}">我的预测</a></li>
            <li><a href="{% url 'more' %}">我的资料</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'logout' %}">退出</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>