{% load bootstrap3 %}
{% load profile_tag %}

{% include "nav_bar.html" %}

<style type='text/css'>

    .spacer {
        margin-bottom: 20px;
    }
    .progress-bar-c1 {background: rgba(233, 137,119 , 1);}
    .progress-bar-c2 {background: rgba(255,196,140,1);}
    .button-clear{background: rgba(255,78,80,0.1);}
    .well-frame-c {background: rgba(252,248,227,1);}

</style>

<script>

    function on_submit(e) {
        if (confirm("确定结算？") == false)
            e.preventDefault();
    }

    function on_sell_all(e) {
        if (confirm("确定卖出所有投注？！一旦确定，则此操作不能取消！") == false)
            e.preventDefault();
    }

</script>

<div class="container">
    <div class="row">
        <div class="col-sm-2 col-md-2 col-md-offset-3">
            <img src="/static/images/me.jpg"
            alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4 col-md-offset-1">
            <blockquote>
                <p>{{ person.user.username }}</p> <small><cite title="Source Title">未知地域  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
            </blockquote>
            <p> <i class="glyphicon glyphicon-screenshot"></i> 全球排名: {{ person.rank }}
                <br /> <i class="glyphicon glyphicon-road"></i> 总积分 {{ person.point }} 分
                <br /> <i class="glyphicon glyphicon-ok"></i> 猜对 {{ person.win }} 次
                <br /> <i class="glyphicon glyphicon-remove"></i> 猜错 {{ person.lose }} 次
                <br /> <i class="glyphicon glyphicon-calendar"></i>  {{ person.joined | date:"y年m月d日" }} 加入盖世</p>

        </div>

    </div>
</div>

<form method="POST">

{% csrf_token %}

<div class="well col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 well-frame-c">
    <div class = "row">
        <div class="col-md-1 col-md-offset-2 col-sm-1 col-sm-offset-2 col-xs-1 col-xs-offset-2"><input class="btn button-clear" type="submit" value="卖出所有投注" name="sell_all" onclick="on_sell_all(event)"/></div>
        <div class="col-md-1 col-md-offset-3 col-sm-1 col-sm-offset-3 col-xs-1 col-xs-offset-3"><input class="btn button-clear" type="submit" value="卖出所有盈利投注" name="sell_win_bets" onclick="on_submit(event)"/></div>
     </div>
</div>


{% csrf_token %}

{% for b in bets %}

<div class = "row">
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <div class="progress">
            <div class="progress-bar progress-bar-c1" style="width: {{ b.game.price_home }}%">{{ b.game.price_home }}</div>
            <div class="progress-bar progress-bar-c2" style="width: {{ b.game.price_away }}%">{{ b.game.price_away }}</div>
        </div>
        <div>
        {% if b.side %}
            <div><p class="text-center">您之前赞同“{{ b.game.headline }}”，买入时的点数为{{ b.price_at_buy }}，现在卖出盈亏为{% sub b.game.price_home b.price_at_buy %}。</p></div>
        {% else %}
            <div><p class="text-center">您之前不赞同“{{ b.game.headline }}”，买入时的点数为{{ b.price_at_buy }}，现在卖出盈亏为{% sub b.game.price_away b.price_at_buy %}。</p></div>
        {% endif %}

        </div>

        <div class="col-md-1 col-md-offset-5 col-sm-1 col-sm-offset-5 col-xs-1 col-xs-offset-5 spacer"><input class="btn button-clear" type="submit" value="现在结算" name="{{ b.pk }}" onclick="on_submit(event)"/></div>
        <div class="col-md-1 col-md-offset-4 col-sm-1 col-sm-offset-4 col-xs-1 col-xs-offset-4 spacer">
                {% if b.side %}
                <wb:share-button appkey="6KfBb7" url="http://weguesso.com/home" addition="simple" type="button" default_text="我在{{ b.price_at_buy }}点的价位认为 &ldquo; {{ b.game.headline }}&ldquo;，你也来买一注吧！"></wb:share-button>
                {% else %}
                <wb:share-button appkey="6KfBb7" url="http://weguesso.com/home" addition="simple" type="button" default_text="我在{{ b.price_at_buy }}点的价位不认为 &ldquo; {{ b.game.headline }}&ldquo;，你也来买一注吧！"></wb:share-button>
                {% endif %}
        </div>
    </div>
</div>
{% endfor %}

</form>

{% include "footer.html" %}


<script type="text/javascript" charset="utf-8">
(function(){
  var _w = 90 , _h = 24;
  var param = {
    url: "weguesso.com/home",
    type:'2',
    count:'1', /**是否显示分享数，1显示(可选)*/
    language:'zh_cn', /**设置语言，zh_cn|zh_tw(可选)*/
    rnd:new Date().valueOf()
  }
  var temp = [];
  for( var p in param ){
    temp.push(p + '=' + encodeURIComponent( param[p] || '' ) )
  }
  document.write('<iframe allowTransparency="true" frameborder="0" scrolling="no" src="http://hits.sinajs.cn/A1/weiboshare.html?' + temp.join('&') + '" width="'+ _w+'" height="'+_h+'"></iframe>')
})()
</script>

