{% load bootstrap3 %}

<link href='static/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
<title>盖世 - 向世界展示你的判断力</title>

{% include "nav_bar.html" %}

<div class="container">
    <div class="row">
        <div class="col-sm-2 col-md-2">
            <img src="/static/me.jpg"
            alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>彼岸</p> <small><cite title="Source Title">广东，潮州  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
            </blockquote>
            <p> <i class="glyphicon glyphicon-envelope"></i> stevenslxie@gmail.com
                <br
                /> <i class="glyphicon glyphicon-globe"></i> www.bootsnipp.com
                <br /> <i class="glyphicon glyphicon-gift"></i> 1988, 10, 15</p>
        </div>

    </div>
</div>