{% load bootstrap3 %}
{% load profile_tag %}

{% include "nav_bar.html" %}

<style type='text/css'>
.spacer {
    margin-bottom: 40px;
}
</style>

<script>
function on_submit(e) {
    if (confirm("确定结算？") == false)
        e.preventDefault();
}
</script>

<div class="container">
    <div class="row">
        <div class="col-sm-2 col-md-2 col-md-offset-3">
            <img src="/static/me.jpg"
            alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4 col-md-offset-1">
            <blockquote>
                <p>彼岸</p> <small><cite title="Source Title">广东，潮州  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
            </blockquote>
            <p> <i class="glyphicon glyphicon-screenshot"></i> 全球排名: 17/2598
                <br /> <i class="glyphicon glyphicon-road"></i> 总积分 {{ person.point }} 分
                <br /> <i class="glyphicon glyphicon-ok"></i> 猜对 {{ person.win }} 次
                <br /> <i class="glyphicon glyphicon-remove"></i> 猜错 {{ person.lose }} 次</p>
        </div>

    </div>
</div>

{% for b in bets %}

<div class = "row">
    <form method="POST">
    {% csrf_token %}
    <div class="col-md-6 col-md-offset-3">
        <h4 class="text-center">{{ b.game.name_home }} 对 {{ b.game.name_away }}</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-success" style="width: {{ b.game.price_home }}%">{{ b.game.price_home }}</div>
            <div class="progress-bar progress-bar-warning" style="width: {{ b.game.price_away }}%">{{ b.game.price_away }}</div>
        </div>
        <div class="col-md-offset-2">
        {% if b.game.is_primary %}
            {% if b.side %}
                <div><p>您之前推测{{ b.game.name_home }}会赢，买入时的点数为{{ b.price_at_buy }}，现在卖出盈亏为{% sub b.game.price_home b.price_at_buy %}。</p></div>
            {% else %}
                <div><p>您之前推测{{ b.game.name_away }}会赢，买入时的点数为{{ b.price_at_buy }}，现在卖出盈亏为{% sub b.game.price_away b.price_at_buy %}。</p></div>
            {% endif %}
        {% else %}
            {% if b.side %}
                <div><p>您之前认为“{{ b.game.headline }}”，买入时的点数为{{ b.price_at_buy }}，现在卖出盈亏为{% sub b.game.price_home b.price_at_buy %}。</p></div>
            {% else %}
                <div><p>您之前不认为“{{ b.game.headline }}”，买入时的点数为{{ b.price_at_buy }}，现在卖出盈亏为{% sub b.game.price_away b.price_at_buy %}。</p></div>
            {% endif %}
        {% endif %}
        </div>
        <div class="col-md-1 col-md-offset-5"><input class="btn btn-danger" type="submit" value="现在结算" name="{{ b.pk }}" onclick="on_submit(event)"/></div>
    </div>
    </form>
</div>


<div class="row spacer">
    <form method="POST">
        {% csrf_token %}



    </form>

</div>

{% endfor %}